<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'home/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/home.css' %}">
    <script src = "{% static 'home/home.js' %}" type = "text/javascript"/></script>
    <script src = "{% static 'home/comment.js' %}" type = "text/javascript"/></script>
    <script src = "{% static 'user_profile/profile.js' %}" type = "text/javascript"/></script>
    <title>Home</title>
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <a href="{% url 'home:home' %}"><img src="{% static 'home/images/logo2.png' %}"></a>
        </div>
        <div class="search">
            <form action="/search" method="post">
                {% csrf_token %}
                <img class="search__img" onclick="openInputSearch()" src="{% static 'home/images/search.png' %}">
                <input class="search__input" type="text" placeholder="search" name="search">
            </form>
        </div>
        <div class="home">
            <img src="{% static 'home/images/home.png' %}">
        </div>
        <div class="network">
            <img src="{% static 'home/images/network.png' %}">
        </div>
        <div class="jobs">
            <img src="{% static 'home/images/jobs.png' %}">
        </div>
        <div class="message">
            <img src="{% static 'home/images/message.png' %}">
        </div>
        <div class="notification">
            <img src="{% static 'home/images/notification.png' %}">
        </div>
        <div class="profile">
            <a href="{% url 'user_profile:profile_page' %}"><img src="{{user.image.url}}" /></a>
        </div>
    </nav>

    <div class="container">
        <!-- ---------------left-sidebar--------------------- -->
        <div class="left-sidebar">
            <div class="left-sidebar__profile-box">
                <img class="left-sidebar__profile-box__cover-img" src="{{user.cover_image.url}}" width="100%">
                <div class="left-sidebar__profile-box__profile-info">
                    <img src="{{user.image.url}}" width="100%">
                    <h1>{{request.user.first_name}}</h1>
                    <h3>{{user.bio}}</h3>
                    <hr>
                </div>
                <div class="left-sidebar__profile-box__extra-info">
                    <h4>Who's viewed your profile</h4>
                    <h4>Impressions of your post</h4>
                </div>
            </div>

            <div class="left-sidebar__tags">
                <p>Recent</p>
                <a href="#">#   machinelearning</a>
                <a href="#">#   coding</a>
                <a href="#">#   google</a>
                <a href="#">#   microsoft</a>
                <a class="link" href="#">Groups</a>
                <a class="link" href="#">Events</a>
                <a class="link" href="#">Followed Hastags</a>
                <hr>
                <div class="discover-more">
                    <a href="#">Discover more</a>
                </div>
            </div>
        </div>
          <!-- ---------------main-container--------------------- -->
        <div class="main-container">
            <div class="create-post">
                <div class="create-post__input">
                    <img src="{{user.image.url}}">
                    <button class="start-button" id="popup" type="submit" onclick="openPopup()">Start a post</button>
                </div>

                <div class="create-post__file">
                    <a href="#"><img src="">Photo</a>
                    <a href="#"><img src="">Video</a>
                    <a href="#"><img src="">Event</a>
                    <a href="#"><img src="">Write article</a>
                </div>
            </div>
            <hr class="hr-below-create-post">

            {% for post in all_posts %}
            <div class="posts">
                    {% with user_profile=profile_dict|get_item:post.user %}
                        <div class="post-header">
                            <div>
                                <img class="small-user-image" src="{{user_profile.image.url}}">
                            </div>
                            <div>
                                <a href="/search_profile/{{post.user}}">{{post.user.first_name}} {{post.user.last_name}}</a>
                                <h3>{{user_profile.bio}}</h3>
                            </div>
                        </div>
                    {% endwith %}
                    <p>{{post.text}}</p>
                    {% if post.image %}
                    <img src="media/profile_pic/{{post.image}}">
                    {% endif %}
                    <hr>

                    <div class="post-action">
                        <form action="/likepost" method="post">
                            {% csrf_token %}
                            {% if post.post_id in all_likes_set %}
                            <input type="hidden" name="value" value="Unlike" readonly>
                            <button type="submit"><img src="{% static 'home/images/like.png' %}">Unlike {{ total__like_of_a_post|get_item:post.post_id }}</button>
                            {% else %}
                            <input type="hidden" name="value" value="Like" readonly>
                            <button type="submit" class"like-button"><img src="{% static 'home/images/like.png' %}">Like {{ total__like_of_a_post|get_item:post.post_id }}</button>
                            {% endif %}
                            <input type="hidden" name="post_id" value="{{post.post_id}}" readonly>
                        </form>
                        <button type="submit" onclick="openComment({{post.post_id}})"><img src="{% static 'home/images/comment.png' %}">Comment</a>
                        <button type="submit"><img src="{% static 'home/images/share.png' %}">Repost</button>
                        <button type="submit"><img src="{% static 'home/images/send.png' %}">Send</button>
                    </div>
                    <div class="comment-section{{post.post_id}} comment-section_1 comment-section">
                        <form action="/commentpost" method="post">
                            {% csrf_token %}
                            <input class="comment" type="text" name="comment" placeholder="Add a comment...">
                            <button type="submit">Comment</button>
                            <input type="hidden" name="post_id" value="{{post.post_id}}" readonly>
                        </form>
                    </div>

                    <div class="all-comments{{post.post_id}} all-comments_1 all-comments">
                        <span onclick="closeComment({{post.post_id}})">X</span>
                        {% with all_comments_of_curr_post=all_comments|get_item:post.post_id %}
                        {% for comment in all_comments_of_curr_post %}
                        <div class="all-comments__comments">
                            <h1>{{comment.user}}</h1>
                            <p>{{comment.text}}</p>
                        </div>
                        {% endfor %}
                        {% endwith %}
                    </div>

            </div>
            {% endfor %}
        </div>

          <!-- ---------------right-sidebar--------------------- -->
        <div class="right-sidebar">
            <div class="sidebar-ad">
                <small>Ad &middot; &middot; &middot;</small>
                <p>Master the 5 principles of web design</p>
                <div>
                    <img src="{{user.image.url}}" />
                    <img src="{% static 'home/images/gfg.png' %}">
                </div>
                <b>Brand and Demand in GFG</b>
                <a href="#">Learn More</a>
            </div>

            <div class="sidebar-people">
                <h3>People you may know</h3>
                <div class="sidebar-people-row">
                    <img src="{{user.image.url}}" />
                    <div>
                        <h2>Md Manish</h2>
                        <p>SDE</p>
                        <a href="#">Follow</a>
                    </div>
                </div>

                <div class="sidebar-people-row">
                    <img src="{{user.image.url}}" />
                    <div>
                        <h2>Md Manish</h2>
                        <p>SDE</p>
                        <a href="#">Follow</a>
                    </div>
                </div>

                <div class="sidebar-people-row">
                    <img src="{{user.image.url}}" />
                    <div>
                        <h2>Md Manish</h2>
                        <p>SDE</p>
                        <a href="#">Follow</a>
                    </div>
                </div>
            </div>
            {% comment %} <div class="footer">
                <a href="#">About</a>
                <a href="#">About</a>
                <a href="#">About</a>
                <a href="#">About</a>
                <a href="#">About</a>
                <a href="#">About</a>
                <a href="#">About</a>
                <a href="#">About</a>
                <a href="#">About</a>
                <a href="#">About</a>
                <a href="#">About</a>
                <a href="#">About</a>
                <a href="#">About</a>
                <a href="#">About</a>
                <a href="#">About</a>
            </div> {% endcomment %}
        </div>
    </div>
    <div class="bg-modal">

        <div class="modal-contents">
            <span onclick="closePopup()"><img class="close-icon" src="{% static 'home/images/close_icon.png' %}"></span>
            <img class="small-user-image" src="{{ user.image.url }}">
            <h1>{{request.user.first_name}} {{request.user.last_name}}</h1>
            <form action="/home" method="post">
                {% csrf_token %}
                <input type="text" name="text_post" placeholder="What do you want to talk about?">
                <input type="file" name="photo" value="photo">
                <button type="submit">Post</button>
            </form>
        </div>
    </div>
</body>

</html>